{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>OTP_receiver</title>
    <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<body>

    <section>
        <center><div class="form-container">
            <h1> </h1>
            <form action="verify_otp" method="POST">
                {% csrf_token %}
                <div class="control">
                    <label for="name">Enter The OTP</label>
                    <input type="text" name="otp" id="otp" placeholder="Enter the OTP" required style="width:95% ;">
                </div>
                <div class="control">
                    <input type="submit" name="submit" value="Submit">
                </div>
            </form>
        </div>
        </center>
    </section>

    {% if Alert %}
        <script>
            window.alert("Wrong Credential!")
        </script>
    {% endif %}
</body>

</html>